doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    title simple-chart
    script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.5.13/d3.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.0.0/lodash.min.js')
    script(src='scripts/index.js')
  body
    div#chart
    textarea(cols=100 rows=20)
    .console
      button#exec 描画
